<footer class="footer">
    <div class="footer-list">
      <a href="#home" class="nav-link center">Home</a>
            <a href="#adventures" class="nav-link center">Adventures</a>
            <a href="#aboutus" class="nav-link center">About Us</a>
            <a href="#scheduled" class="nav-link center">Scheduled Trips</a>
            <a href="#contact" class="nav-link center">Contact</a>
    </div>
    <p class="footer-paragraph">
      <!-- Copyright &copy; CodeAndCreate All Rights Reserved -->
      Copyright &copy; TopITSolutions

    </p>
  </footer>