{% load static %}

<header class="header center">
    <div class="header-text">
      <h1 class="heading">Travel Blog</h1>
      <p class="header-paragraph">
        "Chikiting Patrol is a vibrant and adventurous group of friends who share a passion for exploring new places and creating lasting memories together."
      </p>
    </div>
    <img
      src="{% static 'images/air-balloon.png' %}"
      alt="Header Image"
      class="header-image"
    />
    <div class="logo">
      <h1>
        <span class="center">c</span>
        <span class="center">h</span>
        <span class="center">i</span>
        <span class="center">k</span>
        <span class="center">i</span>
        <span class="center">t</span>
        <span class="center">i</span>
        <span class="center">n</span>
        <span class="center">g</span>

      </h1>
      <h1>
        <span class="center">P</span>
        <span class="center">a</span>
        <span class="center">t</span>
        <span class="center">r</span>
        <span class="center">o</span>
        <span class="center">l</span>
        

      </h1>
    </div>
  </header>